<article class="card my-4 shadow-sm">
	<div class="card-header">
	  	<h4 class="mb-0">
	  		<a class="text-white" href="{{.Permalink}}">{{.Title }}</a>
	  	</h4>
	</div>
	<div class="card-body">
		{{ with .Params.tags }}
		<div>
			{{ range . }}<a href="{{ "tags" | absURL}}/{{ . | urlize }}" class="badge badge-secondary badge-pill mr-1 mb-3">{{.}}</a>{{ end }}
		</div>
		{{ end }}
	  	<p class="small text-muted"><time>{{ .Date.Format "January 2, 2006" }}</time></p>
	  	<p class="card-text">{{.Summary}}</p>
	  	<a href="{{.Permalink}}" class="btn btn-xs btn-primary float-right">Continue reading</a>
	</div>
</article>
