$red: #902e1f;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;

$darkgray0: #121212;
$darkgray1: mix($darkgray0, white, 100%-5%);
$darkgray2: mix($darkgray0, white, 100%-7%);
$darkgray3: mix($darkgray0, white, 100%-8%);
$darkgray4: mix($darkgray0, white, 100%-9%);
$darkgray5: mix($darkgray0, white, 100%-11%);
$darkgray6: mix($darkgray0, white, 100%-12%);
$darkgray7: mix($darkgray0, white, 100%-14%);
$darkgray8: mix($darkgray0, white, 100%-15%);
$darkgray9: mix($darkgray0, white, 100%-16%);

$gray0: mix($darkgray0, white, 100%-20%);
$gray1: mix($darkgray0, white, 100%-25%);
$gray2: mix($darkgray0, white, 100%-30%);
$gray3: mix($darkgray0, white, 100%-35%);
$gray4: mix($darkgray0, white, 100%-40%);
$gray5: mix($darkgray0, white, 100%-45%);
$gray6: mix($darkgray0, white, 100%-50%);
$gray7: mix($darkgray0, white, 100%-55%);
$gray8: mix($darkgray0, white, 100%-60%);
$gray9: mix($darkgray0, white, 100%-65%);

$white: #fff;
$black: #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$theme-colors: (
	primary: $red,
	secondary: $gray-700,
	success: $green,
	info: $cyan,
	warning: $yellow,
	danger: $red,
	light: $gray-300,
	dark: $gray-800,
	gray0: $gray0,
	gray1: $gray1,
	gray2: $gray2,
	gray3: $gray3,
	gray4: $gray4,
	gray5: $gray5,
	gray6: $gray6,
	gray7: $gray7,
	gray8: $gray8,
	gray9: $gray9,
	darkgray0: $darkgray0,
	darkgray1: $darkgray1,
	darkgray2: $darkgray2,
	darkgray3: $darkgray3,
	darkgray4: $darkgray4,
	darkgray5: $darkgray5,
	darkgray6: $darkgray6,
	darkgray7: $darkgray7,
	darkgray8: $darkgray8,
	darkgray9: $darkgray9,
);

$colors: (
	white: $white,
	black: $black,
	gray: $gray-600,
	red: $red,
	yellow: $yellow,
	green: $green,
	cyan: $cyan,
);

$theme-color-interval: 8%;

$body-bg: $darkgray0;
$body-color: $gray-200;

$link-color: lighten(theme-color('primary'), 15%);
$link-decoration: none;
$link-hover-color: lighten($link-color, 10%);
$link-hover-decoration: underline;

$border-radius: 2px;
$border-radius-lg: 4px;
$border-radius-sm: 1px;
$component-active-color: $gray-900;
$component-active-bg: theme-color('primary');

$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$lead-font-size: 1.25rem;
$lead-font-weight: 300;

$small-font-size: 80%;
$text-muted: $gray-600;
$blockquote-small-color: $gray-600;
$hr-border-color: rgba($gray-400, 0.3);
$mark-bg: #fcf8e3;

$btn-link-disabled-color: $gray-600;

$input-bg: $black;
$input-disabled-bg: $gray-900;
$input-color: $gray-300;
$input-border-color: rgba($white, 0.15);
$input-focus-bg: $input-bg;
$input-focus-border-color: lighten(theme-color('primary'), 25%);
$input-focus-color: $input-color;
$input-placeholder-color: $gray-400;
$input-group-addon-bg: $gray-800;
$input-group-addon-border-color: $input-border-color;
$custom-control-indicator-bg: #333;
$custom-control-indicator-disabled-bg: $gray-800;
$custom-control-description-disabled-color: $gray-400;
$custom-control-indicator-checked-color: $black;
$custom-control-indicator-checked-bg: theme-color('primary');
$custom-control-indicator-active-color: $black;
$custom-control-indicator-active-bg: lighten(theme-color('primary'), 35%);
$custom-checkbox-indicator-indeterminate-bg: theme-color('primary');
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-400;
$custom-select-bg: $black;
$custom-select-disabled-bg: $gray-800;
$custom-select-indicator-color: #ccc;
$custom-select-border-color: $input-border-color;
$custom-select-focus-border-color: lighten(theme-color('primary'), 25%);
$custom-file-color: $gray-300;
$custom-file-bg: $black;
$custom-file-button-bg: $gray-800;

$dropdown-bg: $gray-900;
$dropdown-border-color: rgba($black, 0.15);
$dropdown-divider-bg: $gray-600;
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;
$dropdown-link-disabled-color: $gray-600;
$dropdown-header-color: $gray-600;

$nav-link-disabled-color: $gray-600;
$nav-tabs-border-color: #333;
$nav-tabs-link-hover-border-color: $gray-800;
$nav-tabs-link-active-color: $gray-300;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: #333;

$navbar-dark-color: rgba($white, 0.5);
$navbar-dark-hover-color: rgba($white, 0.75);
$navbar-dark-active-color: rgba($white, 1);
$navbar-dark-disabled-color: rgba($white, 0.25);
$navbar-dark-toggler-border-color: rgba($white, 0.1);
$navbar-light-color: rgba($black, 0.5);
$navbar-light-hover-color: rgba($black, 0.7);
$navbar-light-active-color: rgba($black, 0.9);
$navbar-light-disabled-color: rgba($black, 0.3);
$navbar-light-toggler-border-color: rgba($black, 0.1);

$table-accent-bg: rgba($black, 0.05);
$table-hover-bg: rgba($black, 0.075);
$table-border-color: $gray-200;
$table-head-bg: $gray-200;
$table-head-color: $gray-700;
$table-inverse-bg: $gray-900;
$table-inverse-accent-bg: rgba($white, 0.05);
$table-inverse-hover-bg: rgba($white, 0.075);
$table-inverse-border-color: lighten($gray-900, 7.5%);
$table-inverse-color: $white;

$pagination-color: $link-color;
$pagination-bg: $gray-900;
$pagination-border-color: #333;
$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $gray-800;
$pagination-hover-border-color: #333;
$pagination-active-color: $white;
$pagination-active-bg: theme-color('primary');
$pagination-active-border-color: theme-color('primary');
$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: #ddd;

$jumbotron-bg: transparent;

$card-border-color: rgba($white, 0.1);
$card-cap-bg: $darkgray5;
$card-bg: $darkgray1;

$tooltip-color: $white;
$tooltip-bg: $black;
$tooltip-opacity: 0.9;
$tooltip-arrow-color: $tooltip-bg;

$popover-bg: $white;
$popover-border-color: rgba($black, 0.2);
$popover-header-bg: darken($popover-bg, 3%);

$badge-color: $white;

$modal-content-bg: $gray-900;
$modal-content-border-color: rgba($white, 0.2);
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: 0.5;
$modal-header-border-color: $gray-800;

$progress-bg: $gray-800;
$progress-bar-color: $gray-900;

$list-group-bg: $darkgray3;
$list-group-border-color: rgba($white, 0.1);
$list-group-hover-bg: lighten($list-group-bg, 5%);
$list-group-disabled-color: lighten($list-group-bg, 5%);
$list-group-action-color: inherit;
$list-group-action-active-bg: lighten($list-group-bg, 5%);

$thumbnail-bg: $body-bg;

$figure-caption-color: $gray-600;

$breadcrumb-bg: $gray-200;
$breadcrumb-divider-color: $gray-600;
$breadcrumb-active-color: $gray-600;

$carousel-control-color: $white;
$carousel-indicator-active-bg: $white;
$carousel-caption-color: $white;

$close-color: $black;

$code-color: $gray-500;

$kbd-color: $white;
$kbd-bg: $gray-900;
$pre-color: $gray-900;
