<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="author" content="{{ $.Site.Params.author }}" />
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else if (eq .Params.Description nil)}}{{.Summary}}{{else}}{{.Params.Description}}{{end}}">
<meta name="keywords" content="{{if or (.IsHome) (eq .Params.Tags nil)}}{{ $.Site.Params.keywords }}{{else}}{{ delimit .Params.Tags ", " }}{{end}}" />

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/schema.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{end}}{{end}}{{ $.Site.Title }}</title>

<link rel="canonical" href="{{ .Permalink }}">

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}" />
<link rel="manifest" href="{{ "site.webmanifest" | absURL }}" />
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | absURL }}" color="#111111" />
<meta name="msapplication-TileColor" content="#111111">
<meta name="theme-color" content="#111111">

{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules")) }}
{{ $style := resources.Get "scss/main.scss" | toCSS $options | postCSS (dict "config" "./assets/scss/postcss.config.js") | fingerprint "sha384" }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
