<div class="container">
	<h1>Hello world.</h1>
	<p class="lead text-muted">My name is Raphael. I'm a computer science enthusiast and I like to solve problems related to both software and hardware. On this page you'll find my public coding projects. Feel free to check them out and leave some feedback.</p>
	<p class="lead text-muted">If you have ideas or want to contribute or collaborate, don't hesitate to contact me.</p>
	<div>
		<a href="https://github.com/eikendev" class="btn btn-primary my-2"><i class="fab fa-github fa-lg" style="vertical-align: middle;"></i> GitHub</a>
		<a href="https://gitlab.com/eikendev" class="btn btn-secondary my-2"><i class="fab fa-gitlab fa-lg" style="vertical-align: middle;"></i> GitLab</a>
		<a href="https://git.eiken.dev/" class="btn btn-secondary my-2"><i class="fas fa-code-branch fa-lg" style="vertical-align: middle;"></i> Gitea</a>
	</div>
</div>
