{{ $script := resources.Get "js/jquery.slim.min.js" | resources.Minify | fingerprint "sha384" }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $script := resources.Get "js/bootstrap.bundle.min.js" | resources.Minify | fingerprint "sha384" }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $script := resources.Get "js/fontawesome.all.min.js" | resources.Minify | fingerprint "sha384" }}
<script defer src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"></script>
