<div class="d-flex flex-row align-items-center justify-content-center flex-wrap mt-3">
	<a class="btn btn-secondary mx-1" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" target="_blank" title="Twitter">
		<i class="fab fa-twitter mr-2"></i>Twitter
	</a>
	<a class="btn btn-secondary mx-1" href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Reddit">
		<i class="fab fa-reddit-alien mr-2"></i>Reddit
	</a>
	<a class="btn btn-secondary mx-1" href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" target="_blank" title="Reddit">
		<i class="fab fa-hacker-news mr-2"></i>Hacker News
	</a>
</div>
