{{ define "main" }}

<section class="py-5 bg-darkgray1">
	<div class="container">
		<h2 class="text-center mb-5">Recent posts</h2>
		<div class="list-group">
			{{ range first 5 (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
				<a class="list-group-item list-group-item-action" href="{{ .Permalink }}">
					<div class="d-flex flex-row align-items-center flex-wrap">
						<div class="flex-grow-1">{{- .Title -}}</div>
						<div>
							{{ with .Params.tags }}
							{{ range . }}<span class="badge badge-secondary badge-pill align-middle">{{.}}</span> {{ end }}
							{{ end }}
						</div>
					</div>
				</a>
			{{ end }}
		</div>
		<div class="text-center mt-4">
			{{ with .Site.GetPage "section" "blog" }}
			<a href="{{.Permalink}}" class="btn btn-primary"><i class="far fa-newspaper fa-lg mr-2"></i>More posts</a>
			{{ end  }}
		</div>
	</div>
</section>

<section class="py-5">
	<div class="container">
		<h2 class="text-center mb-5">Current projects</h2>
		<div class="row">
			{{ range $.Site.Data.project }}
			<div class="col-md-6 col-lg-4 mb-4 mb-clear-lastchild">
				<div class="card shadow-sm">
					<div class="card-body">
						<a href="{{ .RepositoryLink }}" class="text-reset text-decoration-none">
							<h5 class="card-title">{{ .Name }}</h5>
						</a>
						<div class="mb-1">
							{{ with .License }}
							<span class="badge badge-primary">{{.}}</span>
							{{ end }}
							{{ range .Languages }}
							<span class="badge badge-secondary">{{.}}</span>
							{{ end }}
						</div>
						<p class="card-text">{{ .Description | markdownify }}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="{{ .RepositoryLink }}" class="btn btn-sm btn-outline-gray7"><i class="mr-1 {{ .RepositoryIcon }}"></i>View</a>
								<a href="{{ .DownloadLink }}" class="btn btn-sm btn-outline-gray7"><i class="mr-1 fas fa-download"></i>Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>

{{ end }}
